body {
  background-color: #8fb3d6;
}
body #drum-machine {
  width: 1000px;
  min-height: 550px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 15px #000000;
  -moz-box-shadow: 5px 5px 15px #000000;
  -ms-box-shadow: 5px 5px 15px #000000;
  box-shadow: 5px 5px 15px #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
body #drum-machine h1 {
  margin-left: 10px;
}
body #drum-machine .drum-pad {
  width: 200px;
  margin-top: 5px;
  height: 150px;
  font-size: 50px;
}
body #drum-machine .drum-pad.middle {
  margin-left: 5px;
  margin-right: 5px;
}
body #drumimage {
  width: 200px;
}